@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.footerDiv {
      height: 150px;
      top: 3947px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #1E3E7B 0% 0% no-repeat padding-box;
      opacity: 1;
    }
    
    .footerDiv p {
      color: #fff;
      font-size: 18px;
      font: normal normal normal 25px/19px Rubik;
    }
    
    @media (max-width: 768px) {
      .footerDiv p {
        font: normal normal normal 10px/6px Rubik;
        letter-spacing: 0px;
        color: #ffffff;
      }
    
      .footerDiv {
        height: 100px;
      }
    }
    