<<<<<<< HEAD
.containerTwiter{
=======
.containerTwuiter {
>>>>>>> e8dfdc4a6051b9e2b7b56834d7c501e67d2f7864
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #0A1744;
  background-size: cover;
  background-repeat: no-repeat;
}

.btnTwitter {
  display: flex;
  height: 20px;
  width: 50%;
}

.containerCard {
  width: 400px;
  height: 100%;
  display: flex;
  margin-right: 2%;
}

.btnCard {
  display: flex;
  height: 20px;
  width: 50%;
  justify-content: space-between;
}

.titletwitter {
  display: none;
}

.containerInformation {
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-left: 2%;

}

.twitterUser {
  display: flex;
  height: 140px;
  margin-bottom: 4%;
  padding: 1%;
  justify-content: left;
  background: #1E3E7B17 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF24;
  border-radius: 15px;
  opacity: 1;
  color: #D9D9D9;
  margin-right: 10%;
}

.twitterProfile {
  display: flex;
  padding-bottom: 14%;
  margin-top: 2%;
  margin-left: 4%;
}

.twitterPicture {
  width: 60px;
  border-radius: 100%;
  display: flex;
}

.twitterInformations {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  margin-top: 3%;
}

.informationsText {
  margin-top: 3%;
  white-space: nowrap;
  /* word-break: break-all; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.informationsBoxLink {
  margin-top: 5%;
  padding-bottom: 3%;
}

.informationsLink {
  color: #72EFDB;
  text-decoration: none;
}

@media screen and (max-width:1500px) {
  .containerInformation {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
<<<<<<< HEAD
=======

>>>>>>> e8dfdc4a6051b9e2b7b56834d7c501e67d2f7864
  }

  .containerCard {
    max-width: 1500px;
    display: flex;
    margin-right: 2%;
  }
}

@media screen and (max-width:1112px) {
  .containerCardsTwitter {
    width: 100%;
<<<<<<< HEAD
=======

>>>>>>> e8dfdc4a6051b9e2b7b56834d7c501e67d2f7864
    padding-left: 10%;
  }

  .containerInformation {
    display: flex;
    flex-direction: column;
  }

  .containerCard {
    display: flex;
    margin-right: 2%;
  }
}

@media screen and (max-width:768px) {
  .containerInformation {
    max-width: 768px;
  }

  .twitterUser {
    margin-right: 30%;
  }

  .containerCard {
    display: list-item;
    margin-right: 2%;
  }

  .containerCardsTwitter {
    width: 100%;

    padding-left: 3%;
  }

  .containerTwuiter {
    justify-items: flex-start;
  }
}

@media screen and (max-width:562px) {
  .containerInformation {
    max-width: 562px;
  }

  .containerCard {
    display: list-item;
    margin-right: 2%;
  }

  .containerTwuiter {
    display: block;
    max-width: 562px;
  }
<<<<<<< HEAD
  .containerCard{
   display: list-item;
   margin-right: 2%;
  }
  .containerTwiter{
     display: inline-block; 
  } 
  .containerCardsTwitter{
    width: 100%;
    justify-content: center;
    background-color:  #0A1744;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width:412px){
  .containerInformation{
    max-width: 412px;
  }
=======

  .containerCardsTwitter {
    width: 100%;
    justify-content: center;
    background-color: #0A1744;
    background-size: cover;
    background-repeat: no-repeat;

  }

}

@media screen and (max-width:412px) {
  .containerInformation {
    max-width: 412px;

  }

  .twitterInformations {
    width: 72%;
  }

  .twitterUser {
    display: flex;
    margin-bottom: 4%;
    padding: 1%;
    justify-content: left;
    border-radius: 15px;
    opacity: 1;
  }


>>>>>>> e8dfdc4a6051b9e2b7b56834d7c501e67d2f7864
}