.containerHome{
    max-width: 1920px;
    display: flex;
    flex-direction: column;
  }
  .home{
    background-image: url('../../assets/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    padding-bottom: 3%;
  }
  .homeTitle{
    margin-top: 13%;
    font-size: 28px;
    margin-left: 5%;
  }
  .homeSubtitle{
    font-size: 20px;
    margin-left: 5%;
    margin-top: 2%;
  }
  .homeMessage{
    background-color:  #0e1c52;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 25px
  }
