.containerHome{
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}
.homeInformations{
  background-image: url('../../assets/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 8%;
}
.homeTitle{
  margin-top: 8%;
  font-size: 45px;
  margin-left: 8%;
}
.homeSubtitle{
  font-size: 31px;
  font-weight: bold;
  line-height: 150%;
  margin-left: 8%;
  margin-top: 2%;
}
.homeMessage{
  color: white;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 8%;
}
.homeLoading{
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  padding-top: 3%;
}
.cardsAndTwitter{
  width: 100%;
  background-color:  #0A1744;
  margin: auto;
}
@media screen and (max-width:1500px){
  .containerHome{
    max-width: 1500px;
  }
  .homeTitle{
    font-size: 30px;
  }
  .homeSubtitle{
    font-size: 18px;
    line-height: 120%;
  }
  .homeMessage{
    font-size: 25px;
  }
  .homeLoading{
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width:1112px){
  .containerHome{
    max-width: 1112px;
  }
  .homeTitle{
    font-size: 27px;
  }
  .homeSubtitle{
    font-size: 16px;
    line-height: 100%;
  }
  .homeMessage{
    font-size: 22px;
    margin-top: 6%;
  }
  .homeLoading{
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width:768px){
  .homeTitle{
    font-size: 22px;
    margin-left: 11%;
  }
  .homeSubtitle{
    font-size: 14px;
    line-height: 130%;
    margin-left: 11%;
    margin-top: 2%;
  }
  .homeMessage{
    font-size: 18px;
    margin-top: 6%;
  }
  .homeLoading{
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width:562px){
  .containerHome{
    max-width: 562px;
  }
  .homeTitle{
    margin-top: 12%;
    font-size: 16px; 
  }
  .homeMessage{
    font-size: 16px;
  }
  .homeLoading{
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width:412px){
  .containerHome{
    max-width: 412px;
  }
  .homeTitle{
    margin-top: 12%;
    font-size: 20px; 
  }
  .homeSubtitle{
    font-size: 16px; 
  }
  .homeLoading{
    width: 20px;
    height: 20px;
  }
}