.aboutBox{
  max-width: 20%;
  height: 461px;
  display: flex;
  font-size: .9rem;
  flex-direction: column;
  border: 1px solid #FFFFFF24;
  border-radius: 5px;
  margin: 1.5%;
  padding: 2%;
  align-items: center;
  text-align: justify;
}
.aboutBoxImage{
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin-top: 5%;
} 
.aboutImage{
  display: flex;
  width: 65%;
  border-radius: 50%;
}
.aboutName{
  color:  #72EFDB;;
  font-size: 1.3rem;
  margin-top: 9%;
  margin-bottom: 9%;
}
.aboutText{
  font-size: 1.2rem;
  max-height: 150px;
  text-align: center;
  margin-bottom: 8%;
}
.aboutBoxIcon{
  display: flex;
  width: 70%;
  justify-content: center;
  padding: 2%;
  padding-bottom: 5%;
}
.aboutBoxIcon a{
  display: flex;
  justify-content: center;
  margin: 8%;
}
.iconImage{
  display: flex;
}
@media screen and (max-width:1500px){
  .aboutBox{
    height: 320px;
  }
  .aboutImage{
    width: 55%;
    margin-top: 1%;
  }
  .aboutName{
    color:  #72EFDB;;
    font-size: 1rem;
    margin-top: 9%;
  }
  .aboutText{
    font-size: .9rem;
    margin-bottom: 10%;
  }
}
@media screen and (max-width:1112px) {
  .aboutBox{
    height: 280px;
  }
  .aboutName {
    padding-top: 2%;
    font-size: .9rem;
  }
  .aboutText{
    font-size: .8rem;
    text-align: center;
    margin-bottom: 8%;
  }
}
@media screen and (max-width:768px) {
  .aboutBox{
    max-width: 60%;
    height: 450px;
    margin: 5%;
  }
  .aboutName{
    padding-top: 0%;
    margin-top: 6%;
    margin-bottom: 8%;
    font-size: 1rem;
  }
  .aboutImage{
    width: 50%;
    margin-top: 3%;
    margin-bottom: 0%;
  }
  .aboutText{
    width: 70%;
    font-size: 1.1rem;
    line-height: 1.2rem;
    max-height: 100px;
    margin-bottom: 5%;
  }
} 
@media screen and (max-width:562px){
  .aboutBox{
    height: 370px;
  }
  .aboutImage{
    width: 45%;
    margin-top: 3%;
    margin-bottom: 0%;
  }
  .aboutName{
    font-size: 1rem;
    margin-top: 6%;
    margin-bottom: 8%;
  }
  .aboutText{
    width: 80%;
    font-size: 1rem;
    margin-bottom: 6%;            
  }
}
@media screen and (max-width:412px){
  .aboutBox{
    max-width: 357px;
  }
  .aboutImage{
    width: 50%;
  }
  .aboutName{
    font-size: .9rem;
    margin-top: 7%;
  }
}


