.searchBar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 11%;
}
  
.searchBarInput{
    display: flex;
    align-items: center;
    width: 550px;
    border-radius:72px;
    background-color: #1E3E7B;
    padding: 1%;
  }
  .searchInput {
    padding: 1.5%;
    width: 85%;
    background-color:transparent;
    border:none;
    color: #8D9DA2;
    opacity: 0.57;
    font-size: 30px;
    margin-left: 3%;
  } 
  .searchButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 3%;
  }
  .searchInputIcon{
    margin-left: 2%;
    margin-right: 2%;
  }
  .searchInput:focus {
     outline: 0;
  }
  @media screen and (max-width:1500px){
    .searchBarInput{
      width: 540px;
    }
  }
  @media screen and (max-width:1112px){
    .searchBarInput{
      width: 520px;
    }
  }
  @media screen and (max-width:768px){
    .searchBarInput{
      width: 500px;
      margin-top: 8%;
    }
    .searchInputIcon{
      width: 26px;
    }
    .searchInput{
      font-size: 28px;
    }
  }
  @media screen and (max-width:562px){
    .searchBarInput{
      width: 480px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 10%;
    }
    .searchInputIcon{
      width: 20px;
    }
  }
  @media screen and (max-width:412px){
    .searchBarInput{
      width: 460px;
      margin-left: 6%;
      margin-right: 6%;
      margin-top: 11%;
    }
    .searchInputIcon{
      width: 18px;
    }
  }