/**body {
  background-repeat: no-repeat;
  background-image: url(../../assets/about-hero-bg.jpg);
  height: auto;
  width: 100%;
  display: flex;
  left: 0;
}*/

/* Layout Properties */
.searchListMain{
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
  height: 830px;
  flex-direction: column;
  background-image: url("../../assets/table-bg.jpg");
  background-repeat: no-repeat;
}
.searchPage {
  background-image: url(../../assets/about-hero-bg.jpg);
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}
.searchScrollTable {
  max-width: 100%;
  overflow: auto;
  width: 100%;
  height: 400px;
  border-radius: 14px;
}
/* BOX DA LISTA DE BUSCA */
.searchListTable {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  flex-direction: column;
  margin-top: 0px;
  background: #18326b;
  height: 500px;
  border-radius: 14px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  opacity: 1;
}
/* Titulo busca realizadas */
.searchListTitle {
  color: #72efdb;
  font-size: 30px;
  font-family: "Rubik";
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  margin-left: 15%;
}
/*BOX DA #/DATE/HOUR*/
.searchHeaderTable {
  display: flex;
  background: #000f63;
  border-radius: 14px;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  height: 80px;
  margin: auto;
  color: #72efdb;
  font-family: "Rubik";
  padding: 0 34.1px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
}
/* Listas das Hastags */
ul {
  list-style: none;
}
.searchListHastags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 1 / 1 / 5 / 4;
  font: -webkit-mini-control;
  color: #ffffff;
  font: "Montserrat,Regular";
  border-bottom: 0.1px solid #41558e;
  margin-left: 23.8px;
  margin-right: 23.8px;
  padding: 20px 34.1px;
}
.searchHashTagColumn {
  padding-top: 10px;
  margin-left: 20px;
}
.searchDateColumn {
  padding-left: calc(30% - 34.1px);
  display: grid;
  justify-items: flex-end;
  color: #72efdb;
}
.searchHourColumn {
  padding-right: 45px;
}
.searchDateColumns,
.searchHourColumns {
  display: grid;
  justify-items: flex-end;
  color: #72efdb;
}
/* Para modelos tablets */
@media screen and (max-width: 900px) {
  .searchListTitle {
     margin-left: 20%;
  }
  .searchListTable {
    margin-left: 10px;
    margin-right: 10px;
  }
  .searchDateColumns,
  .searchHourColumns {
    display: grid;
    justify-items: flex-end;
    color: #72efdb;
  }
}
@media screen and (max-width: 840px) {
  .searchHourColumns {
    margin-right: 20px;
    color: #72efdb;
    padding-left: 25px;
  }
  .searchHeaderTable {
      padding: 0;
  }
  .searchHashTagColumn {
    padding-top: 10px;
    margin-left: 50px;
  }
  .searchHourColumn {
    display: flex;
    margin-left: 35px;
    padding-right: 90px;
  }
}
/* Para modelos mobile */
@media screen and (max-width: 395px) {
  .searchListTitle {
    margin-left: 15%;
  }
  .searchHourColumns {
    margin-right: 0px;
    color: #72efdb;
    padding-left: 20px;
  }
  .searchHeaderTable {
    padding: 0;
  }
  .searchHashTagColumn {
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .searchHourColumn {
    padding-right: 50px;
  }
  .searchListHastags {
    padding-top: 10px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .searchHourColumns {
    display: flex;
    margin-left: 10px;
    padding-right: 0px;
  }
  .searchDateColumns {
    display: flex;
    margin-left: 40px;
    padding-right: 0px;
  }
}
/* @media screen and (max-width:1500px){}
@media screen and (max-width:1112px){}
@media screen and (max-width:768px){}
@media screen and (max-width:562px){}
@media screen and (max-width:412px){} */